:root {
  --primary: #3cb043;
  --bg: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  /* height: 5000px; */
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: black;
}

.logo {
  /* margin: 1rem 0 0 1rem; */
  height: 7rem;
  object-fit: contain;
  cursor: pointer;
  border: 1px solid rgb(195, 187, 187);
  margin: 1rem 0 0 1rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: #21149c; */
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 3.5rem;
  position: relative;
  /* background-color: aqua; */
}

.nav-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  /* background-color: aquamarine; */
}

.navbar ul li::after {
  content: '';
  height: 1px;
  width: 0;
  background: #3cb043;
  right: 0;
  bottom: -10px;
  transition: 0.5s;
  position: absolute;
}

.navbar ul li:hover:after {
  width: 100%;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: var(--bg);
}

.banner {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-block {
  display: flex;

  /* background-color: #3cb043; */
  padding: 0 1rem;
  position: absolute;
  top: 15rem;
}

.main-text {
  /* position: absolute; */

  color: var(--bg);
  text-align: left;
  font-weight: 500;
  margin-left: 5rem;
  padding-left: 1rem;
  /* width: 40%; */
  /* top: 15rem;
  margin-left: 5rem;
  width: 25rem; */
  /* background-color: aqua; */
}

.main-text h2 {
  padding: 1rem 0;
}

.main-text,
.secondary-text h1,
h2,
h3,
h4 {
  text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.75);
}

.secondary-text {
  /* position: absolute; */

  color: var(--bg);
  text-align: left;
  margin-left: 10rem;
  font-weight: 500;
  padding-left: 20rem;

  padding-top: 2rem;

  /* background-color: #3cb043; */
  /* top: 19rem;
  margin-left: 35rem;
  width: 50rem; */
}

.secondary-text h3 {
  padding-bottom: 1rem;
}

.secondary-text h3 span {
  text-decoration: underline;
}

.copyright {
  font-size: 1rem;
  color: var(--primary);
  text-align: center;
  /* position: absolute;
  bottom: 0;
  right: 39%;
  left: 39%;
  margin-bottom: 1rem; */
  /* background-color: aqua; */
}

/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
  .secondary-text {
    /* position: absolute; */

    color: var(--bg);
    text-align: left;
    font-weight: 500;
    padding-left: 5rem;
    padding-top: 2rem;

    /* background-color: #3cb043; */
    /* top: 19rem;
    margin-left: 35rem;
    width: 50rem; */
  }
}

/* Tablet */
@media (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .main-block {
    flex-wrap: wrap;
  }
  .main-text {
    margin-bottom: 2rem;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .navbar ul li a {
    display: none;
  }

  /* .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1rem;
  } */

  .hamburger {
    display: block;
    /* background-color: aqua; */
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    right: -100%;
    top: 0;
    gap: 0;
    flex-direction: column;
    background-color: var(--primary);
    width: 48%;
    height: 100vh;
    text-align: left;
    transition: 0.3s;
    z-index: 100;
  }

  .nav-item {
    font-weight: 100;
    font-size: 1.5rem;
    padding: 1rem 0;
  }

  .nav-menu.active {
    right: 0;
    color: var(--bg);
  }

  .secondary-text {
    margin-left: 1rem;
  }
}

/* Mobile Phone */
@media (max-width: 450px) {
  html {
    font-size: 70%;
  }
}

/* .content {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #fff;
} */

/* .content h1 {
  font-size: 70px;
  margin-top: 80px;
} */

/* .content p {
  margin: 20px auto;
  font-weight: 100;
  line-height: 25px;
} */

/* button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #009688;
  background: transparent;
  color: #fff;
  cursor: pointer;
  position: relative;
  overflow: hidden;
} */

/* span {
  background: #009688;
  height: 100%;
  width: 0;
  border-radius: 25px;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
} */

/* button:hover span {
  width: 100%;
} */

/* button:hover {
  border: none;
} */
